* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #e3e4e0;
  }
  
  header {
    border: green 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #7f867b;
    margin: 0 0 10% 0;
    border-top: 0;
    height: 400px;
    width: 100%;
    color: white;
  }
  
  nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    border: rgb(128, 0, 17) 2px solid;
    margin-right: 5%;
    list-style-type: none;
    color: white;
  }
  
  header h1 {
    border: green 2px solid;
    font-size: 2.8rem;
    margin-top: 7%;
    max-width: 35%;
  }
  
  header img {
    border: green 2px solid;
    height: 150px;
    width: 120px;
    border-radius: 5%;
    position: relative;
  }
  
  section {
    border: rgb(37, 111, 172) 2px solid;
    width: 95%;
    height: auto;
    margin: auto;
    padding: 10px;
    display: flex;
  }
  
  .card {
    border: rgb(92, 94, 96) 2px solid;
    border-right: rgb(247, 248, 245) 7px solid;
    min-width: 100px;
    min-height: 200px;
    text-align: right;
    float: left;
    padding-right: 15px;
    display: block;
  }
  
  .content img {
    border: rgb(128, 0, 17) 1px solid;
    width: 50%;
    padding: 25px;
    position: relative;
  }
  
  .content {
    border: rgb(128, 0, 17) 2px solid;
    width: 90%;
    padding: 25px;
  }
  
  .content p {
    margin-left: 2.5%;
  }
  
  .text {
    justify-content: flex-end;
    position: absolute;
    color: white;
    font-size: 25px;
    width: 25%;
    background-color: #7f867b;
  }
  
  .card {
    border-right: rgb(247, 248, 245) 7px solid;
    min-width: 250px;
    min-height: 200px;
    text-align: right;
    float: left;
  }
  
  .card h2 {
    margin-right: 2.5%;
  }
  
  section {
    width: 95%;
    height: auto;
    margin: auto;
    padding: 10px;
    display: flex;
  }
  
  footer {
    display: flex;
    color: white;
    justify-content: space-around;
    background: #7f867b;
    padding: 30px;
    clear: both;
    padding-top: 10px;
    margin-right: 20px;
  }
  .footer ul a {
    text-align: center;
    list-style-type: none;
    text-decoration-line: none;
    font-size: 24px;
    color: white;
  }
  
  @media screen and (max-width: 992px) {
    #container {
      flex: 1;
    }
  }
  
  @media screen and (max-width: 768px) {
    #container {
      flex: 2;
    }
  }
  
  @media screen and (max-width: 576px) {
    #container {
      flex: 3;
    }
    nav ul {
      display: block;
    }
    header h1 {
      font-size: 2rem;
   }
  
   
  }
  